.wrapper {
    background-color: #DDDDDD;
    position:fixed;
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.nav-container {
    width: 100%;
    background-color: #00007F;
    grid-column: 1/-1;
}

nav {
    /*max-width: 1200px;*/
    background-color: #00007F;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

nav input:focus {
    outline:none;
}

.nav-mid {
    font-size: 40px;
    padding: 0.5rem;
    font-family:"Arial Black", Gadget, Arial, sans-serif;
    font-weight: 900;
    color: #FFFFFF;
}

.nav-left {
    justify-self: left;
    white-space: nowrap;
}

.nav-left * {
    padding: 8px 12px;
    margin: auto auto auto 20px;
    font-weight: 100;
    font-size: 14px;
    background-color: #222222;
    text-align: center;
    height: auto;
    border: 0;
    border-radius: 4px;
    transition: background-color 0.2s;
    color: #FFFFFF;
}

.nav-left *.disabled{
    background-color: #22222288;
    color: #FFFFFF88;
}

.nav-left *:hover {
    background-color: #444444;
    cursor: pointer;
}

.nav-left *.disabled:hover{
    background-color: #22222288;
    cursor: not-allowed;
}

.nav-right {
    white-space: nowrap;
}

.nav-right {
    justify-self: right;
    white-space: nowrap;
    width: auto;
    display: inline-flex;
}


.nav-right * {
    transition: background-color 0.2s;
}

.nav-right > * {
    margin: 0 20px 0 0;
    font-weight: 100;
    font-size: 14px;
    background-color: #222222;
    color: #FFFFFF;
    text-align: center;
    height: auto;
    border: 0;
    border-radius: 4px;
    width: auto;
    min-width: 3rem;
}



.nav-right span:hover {
    background-color: #444444;
    cursor: pointer;
}

.nav-right .searchContainer {
    text-align: left;
    padding: 8px 12px;
    position: relative;

}

.nav-right .searchContainer > *{
    height: 100%;
    border: 0;
    margin: -8px 0;
    padding: 8px 0;
    background-color: transparent;
    color: #FFFFFF;
}

.nav-right .searchContainer > input{
    width: 80%;
    font-weight: 100;
}

.nav-right .searchContainer > button{
    width: 20%;
    position: absolute;
    right: 0;
    background-color: #FFFFFF07;
}

.searchContainer button:hover {
    background-color: #444444;
}

.nav-right > select {
    text-align-last: center;
}

#nav-checkbox, #sidebar-checkbox, .burger-button {
    display: none;
}

.sidebar-button {
    transition: box-shadow 0.2s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.sidebar {
    display:none;
    background-color: #BBBBBB;
    width: 200px;
}

.sidebar * {
    width: 100%;
}

#sidebar-checkbox:checked ~ div  .sidebar-button {
    box-shadow: 0 0 2px 2px #FFFFFF7F inset;
}

#sidebar-checkbox:checked ~ .sidebar {
    display: block;
}

.btn-default {
    background-color: #FFFFFF;
    padding-left: 1px;
    padding-right: 4px;
    line-height: 1;
    border-radius: 0;
    border: 1px solid #707070;
}

.btn-default:hover {
    border: 1px solid #000000;
}

.content {
    overflow: auto;
    padding: 10px;
    grid-column: 2 / -1;
    min-height: 200px;
}


@media only screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: initial;
        overflow: auto;
    }

    .burger-button {
        display: inline-block;
        margin: 20px;
        color: #DDDDDD;
        font-size: 30px;
        transition: 0.2s;
    }

    .burger-button:hover {
        color: #777777;
        cursor: pointer;
    }

    .nav-left, .nav-right {
        display: none;
    }

    #nav-checkbox:checked ~ .nav-left {
        width:100%;
        background-color: #00000020;
        display: grid;
        grid-row: 3;
        grid-column: 1 / -1;
        padding: 0 0 8px;
    }

    #nav-checkbox:checked ~ .nav-right {
        display: grid;
        grid-row: 2;
        grid-column: 1 / -1;
        width:100%;
        background-color: #00000020;
        padding: 8px 0 0;
    }

    #nav-checkbox:checked ~ .nav-left > *{
        font-size: 20px;
        margin: 8px 8px 8px;
    }

    #nav-checkbox:checked ~ .nav-right > *{
        font-size: 20px;
        margin: 8px 8px 8px;
    }

    .nav-right .searchContainer > input{
        width: 100%;
        text-align-last: center;
    }

    #nav-checkbox:checked ~ .nav-right > select {
        min-height: 3rem;
    }

    #sidebar-checkbox:checked ~ .sidebar {
        display: block;
        width: 100%;
        overflow: unset;
    }
}

